<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console follow="true" name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${sys:CONSOLE_LOG_PATTERN}"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger level="error" name="org.apache.catalina.startup.DigesterFactory"/>
    <Logger level="error" name="org.apache.catalina.util.LifecycleBase"/>
    <Logger level="warn" name="org.apache.coyote.http11.Http11NioProtocol"/>
    <Logger level="warn" name="org.apache.tomcat.util.net.NioSelectorPool"/>
    <Logger level="error" name="org.eclipse.jetty.util.component.AbstractLifeCycle"/>
    <Logger level="warn" name="org.hibernate.validator.internal.util.Version"/>
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
    <logger level="warn" name="org.apache.sshd.common.util.SecurityUtils"/>
    <logger level="warn" name="org.springframework.boot.actuate.endpoint.jmx"/>
    <logger level="debug" name="com.anz"/>
  </Loggers>
  <Properties>
    <Property name="LOG_EXCEPTION_CONVERSION_WORD">%xwEx</Property>
    <Property name="LOG_LEVEL_PATTERN">%5p</Property>
    <Property name="LOG_DATEFORMAT_PATTERN">yyyy-MM-dd HH:mm:ss.SSS</Property>
    <Property name="CONSOLE_LOG_PATTERN">%clr{%d{${LOG_DATEFORMAT_PATTERN}}}{faint}
      %clr{${LOG_LEVEL_PATTERN}} %clr{%pid}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint}
      %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}
    </Property>
    <Property name="FILE_LOG_PATTERN">%d{${LOG_DATEFORMAT_PATTERN}} ${LOG_LEVEL_PATTERN} %pid ---
      [%t] %-40.40c{1.} : %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}
    </Property>
  </Properties>
</Configuration>
